<style>
    /* Example CSS for hero banner */
    .hero-banner {
        background-color: rgba(0, 0, 0, 1); /* Black background */
        color: #fff; /* White text */
        height: 500px;
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        padding: 0 20px; /* Adjust padding as needed */
        box-sizing: border-box; /* Include padding in height calculation */
        width: 100%; /* Ensure full width responsiveness */
        border-radius: 15px;
        margin-top: 32px;
    }
    .hero-banner .logo {
        flex-shrink: 0; /* Prevent logo from shrinking */
        margin-right: 20px; /* Margin between logo and text */
    }
    .hero-banner .logo img {
        max-width: 100%; /* Ensure the image does not exceed its container */
        max-height: 250px; /* Set a maximum height for the logo */
        width: auto; /* Maintain aspect ratio */
    }
    .hero-banner h1 {
        font-size: 3em;
        margin-bottom: 0.5em;
    }
    .hero-banner p {
        font-size: 1.5em;
    }
</style>
<div class="hero-banner">
    <div class="logo">
        <img src="{{ page.logo }}" alt="{{ page.logo_alt }}" />
    </div>
    <div class="text">
        <h1>{{ page.hero-title }}</h1>
        <p>{{ page.hero-subtitle }}</p>
    </div>
</div>
