*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
    font-family: Roobert,sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.4;
    margin: 0;
}

h1, h2, h3 {
  font-weight: 700;
}

.site-container {
  display: flex;
  flex-direction: column;
}

.content-nav-container {
  display: flex;
  flex-direction: row;
}

.content-container {
  flex: 1;
  width: 80vw;
  margin: 0 auto;
  padding-left: 4rem;
  padding-right: 4rem;
}

code {
  white-space: pre-wrap;
  background-color: #f5f6fa;
  padding: 1px;
  border-radius: 5px;
  font-size: 1rem;
}

pre {
  background-color: #f5f6fa;
  margin: 0;
  padding: 12px;
  border-radius: 5px;
}

table {
  border: 2px solid black;
}

table td {
  border: 2px solid black;
  padding: 8px;
}

@media (max-width: 768px) {
  .container {
      padding-left: 1rem;
      padding-right: 1rem;
  }
}
@media (max-width: 480px) {
  .container {
      padding-left: 0.5rem;
  }
}
