header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary-color;
  padding-left: 0.75rem;
  padding-right: 0.5rem;
  border: 2px solid black;
  background-clip: padding-box;
  box-shadow: inset 0 0 0 2px black;
  border-radius: 15px;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 5rem;

  .logo {
    a {
      display: inline-block;
    }

    img {
      display: block;
      width: 13rem;
      height: auto;
    }
  }
}

nav {
  display: flex;

  a {
  font-weight: 300;
  font-style: bold;
  font-size: 1.125rem;
  line-height: 1.4;
  color: $background-color;
  text-decoration: none;
  padding: 1rem 1.2rem;
  transition: $background-color 0.3s;

  }

  a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
  a.current {
    color: $primary-color;
  }

  img {
    max-height: 1.25rem;
    width: auto;
    vertical-align: middle;
  }
}

@media (max-width: 768px) {
  header .logo img {
      width: 15rem;
  }
}

@media (max-width: 480px) {
  header {
      flex-direction: column; 
      align-items: flex-start;
      padding: 0.5rem;
  }

  header .logo img {
      width: 12rem;
  }

  nav {
      margin-top: 0.5rem;
      gap: 0.5rem;
  }
}