.side-menu {
  display: block;
  width: 312px;
  overflow-y: scroll;
  height: calc(100vh - $top-nav-bar-height - (2 * $top-nav-bar-margin));
  padding-left: 16px;
  padding-right: 16px;
  position: sticky;
  top: calc($top-nav-bar-height + 2 * $top-nav-bar-margin);

  ul {
    list-style-type: none;
    overflow-y: scroll;

    .level-1 {
      overflow-y: scroll;
      padding: 0;
    }

    .level-2 {
      padding-left: 0.75rem;
    }
  }

  li {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.4;
    padding: 0;
    margin-top: 4px;
  }

  a {
    padding: 8px 12px;
    display: block;
    color: $secondary-color;
    text-decoration: none;
    width: 100%;
  }

  a.active {
    background-color: $secondary-color;
    color: $primary-color;
    border-radius: 5px;
  }

  a:hover {
    background-color: $secondary-color;
    color: $primary-color;
    border-radius: 5px;
  }
}
