<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="icon" type="image/x-icon" href="/assets/images/Citrine_Favicon_256_clear3.png" />
    {% seo %}
  </head>

  <body>
    <div class="site-container">
      {% include top-nav-bar.html %}
      <div class="content-container">
        {% if page.title == 404 %}
          {{ content }}
        {% else %}
          {% include hero.html %}
          {{ content }}
        {% endif %}
      </div>
    </div>
  </body>
</html>
